.pos-cen{
    position: absolute;
    width:70%
}
.img-logo{
    width:8%;
    float: left;
}
.list-group-item{
    text-align: left;
    align-items: end;
    width:2%;
    padding-left: 10%;
    border-width: 0cap;
    
    
}
.item-sec{
    width: 50%;
    float: left;

}
.main-content{
    width: 50%;
    float: right;
}